body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #282c34;
    color: white;

}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    & > div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.App-header {
    background-color: #282c34;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: white;
    border-bottom: 1px solid white;
    p {
        margin-left: 20px;
        margin-right: 20px;
    }
    button {
        cursor: pointer;
    }
}
